//SYSTEM CONFIGURATION
	
//GENERAL
DOMAIN=phalcon.do
URL=http://phalcon.do
BASE_DIR=/home/phalconphp-skeleton
PRODUCTION=0
CONFIG_CACHE_KEY=config

DEBUG_PROFILE=1
DEBUG_QUERY=1

//DB
DATABASE_HOST=127.0.0.1
DATABASE_USER=root
DATABASE_PASS=
DATABASE_NAME=test

//CDN
CDN_URL=http://phalcon.do

//BACKEND HOST
BEANSTALK_HOST=127.0.0.1
BEANSTALK_PORT=11300
BEANSTALK_PREFIX=site-

MEMCACHE_HOST=127.0.0.1
MEMCACHE_PORT=11211

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

//EMAIL
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=

//SEARCH
ELASTIC_HOST=127.0.0.1:9200